.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 100px;
  padding: 100px;
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.item1 {
  grid-column-start: 1;
  grid-column-end: 5;
  border: 5px solid red;
}

.item2,
.item3,
.item4,
.item5 {
  border: 2px solid blue;
}
