.fold {
  border-radius: 60px;
  max-width: 1324px;
  margin: 0 auto 224px;
  padding-top: 45px;
  margin-top: 49px;
  position: relative;
  overflow: hidden;
  min-height: 100vh;
}

.fold .background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.9;
  pointer-events: none;
}

.join-us {
  padding-top: 210px;
  position: relative;
}

.join-us .left {
  grid-column: span 4;
}

.join-us .right {
  grid-column-start: 5;
  grid-column-end: 13;
}

.join-us .title {
  max-width: 600px;
}

.join-us .content {
  position: relative;
  z-index: 1;
}

.join-us .item {
  margin-bottom: 112px;
}

.join-us .item:last-child {
  margin-bottom: 224px;
}

.join-us .item .title {
  margin-bottom: 42px;
}

.join-us .item .text {
  max-width: 460px;
}

.dont-just-take .top {
  grid-column: span 12;
  margin-bottom: 84px;
}

.dont-just-take .bottom {
  grid-column: span 12;
}

.how-it-works {
  color: var(--color-white);
  margin-bottom: 224px;
}

.how-it-works .background {
  border-radius: 28px;
  padding: 112px 0;
}

.how-it-works .top {
  grid-column: 3 / span 8;
  margin-bottom: 56px;
}

.how-it-works .content {
  grid-column: 3 / span 8;
}

.how-it-works .row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: var(--grid-gap);
}

.how-it-works .row:first-child {
  margin-bottom: 28px;
}

.how-it-works .box {
  border-radius: 28px;
  border: 1px solid var(--color-white);
  padding: 28px;
  transition: all ease-in-out 0.25s;
  flex: 1;
}

.how-it-works .box:hover {
  background-color: var(--color-white);
  color: var(--color-blue);
  transform: translateY(-12px);
}

.some-questions {
  margin-bottom: 224px;
}

.some-questions .top {
  grid-column-start: 1;
  grid-column-end: 8;
  padding-bottom: 112px;
}

.some-questions .bottom {
  grid-column: span 12;
}

.are-you-up .challenge .header {
  grid-column: span 7;
  margin-bottom: 42px;
  max-width: 600px;
}

.are-you-up .challenge .firstphoto {
  grid-column: 8 / span 5;
}
.are-you-up .challenge .firstphoto .img {
  max-width: 100%;
}
.are-you-up .challenge .content {
  grid-column: span 6;
  margin-bottom: 98.96px;
}
.are-you-up .challenge .secondphoto {
  grid-column: span 8;
}
.are-you-up .challenge .firstphoto .img {
  max-width: 100%;
  margin-bottom: 71.99px;
}
.are-you-up .challenge .title {
  padding-bottom: 42px;
}

.are-you-up .if-you-like {
  margin: 220px 0;
}

.are-you-up .if-you-like .left {
  grid-column: span 3;
  grid-row: 2 / 3;
}
.line {
  width: 69px;
  flex-basis: 69px;
  flex-shrink: 0;
  border-top: 1px solid #9563ff;
}
.are-you-up .if-you-like .line {
  margin-right: 30px;
}
.are-you-up .if-you-like .right {
  grid-column: 6 / 13;
  grid-row-start: 1;
  grid-row-end: 4;
}

.are-you-up .if-you-like .item {
  display: flex;
  align-items: center;
}
.are-you-up .your-opportunity {
  margin-bottom: 224px;
}

.are-you-up .your-opportunity .header {
  margin-bottom: 84px;
}

.are-you-up .your-opportunity .item {
  /* display: flex;
  align-items: center; */
  border-radius: 28px;
  color: var(--color-white);
  grid-column: span 4;
  padding: 42px;
  margin-bottom: 224px;
}

/* .are-you-up .your-opportunity .item .title {
  margin-bottom: 42px;
} */

.showcase {
  margin: 224px 0;
}

.showcase .header {
  grid-column: span 6;
}

.talk-to-us {
  margin-bottom: 175px;
}

.talk-to-us .title {
  margin-bottom: 42px;
}

.onboard {
  margin-bottom: 112px;
  position: relative;
  z-index: 1;
}

.onboard .title {
  margin-top: 335px;
  margin-bottom: 70px;
}

.onboard .container .button {
  margin-bottom: 112px;
}

.backgroundImage {
  /* background-image: url("../images/ImageBackground.png"); 
  background-position: right top;
  background-repeat: no-repeat; */
  opacity: 0.9;
  mix-blend-mode: multiply;
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
}

.onboard .button {
  color: var(--color-white);
  border-radius: 180px;
  border: solid 1px var(--color-white);
  padding: 28px 64px;
  display: inline-block;
  text-decoration: none;
}

.onboard .button:hover {
  background-color: var(--color-white);
  color: var(--color-coral);
}

.footer .left,
.footer .right {
  margin-bottom: 56px;
}

.footer .left {
  grid-column: span 6;
}

.footer .right {
  grid-column-start: 7;
  grid-column-end: 13;
}

.footer .go-to,
.footer .we-social {
  margin-bottom: 20px;
}
.footer .go-to-content .item1 {
  margin-bottom: 20px;
}

.footer .image img {
  max-width: 100%;
}

.contact-us {
  margin-bottom: 20px;
}

.contact-us .content {
  margin-bottom: 84px;
}

.we-social-content {
  display: flex;
  flex-direction: row;
  column-gap: 28px;
  padding-bottom: 48px;
  flex-wrap: wrap;
}

.offices {
  padding-bottom: 20px;
}

.offices-content {
  padding-bottom: 56px;
}

.secondphoto .img {
  max-width: 100%;
}

@media (max-width: 1200px) {
  .are-you-up .columns {
    display: block;
  }

  .are-you-up .your-opportunity .item {
    margin-bottom: 16px;
  }

  .join-us .columns {
    display: flex;
    flex-direction: column;
  }

  .join-us .title {
    margin-bottom: 64px;
  }

  .join-us .item .text {
    margin-top: 42px;
  }
}

@media (max-width: 800px) {
  .fold {
    margin-top: 0;
  }

  .showcase .header {
    grid-column: 1 / span 12;
  }

  .how-it-works .columns {
    display: flex;
    flex-direction: column;
    padding: 0 54px;
  }

  .how-it-works .row {
    flex-direction: column;
  }

  .some-questions .top {
    grid-column-end: 12;
  }

  .your-opportunity .columns {
    grid-template-columns: repeat(2, 1fr);
  }

  .your-opportunity .item {
    margin-bottom: 20px;
  }

  .if-you-like .columns {
    display: flex;
    flex-direction: column;
  }

  .if-you-like .title {
    margin-bottom: 64px;
  }

  .footer .columns {
    display: block;
  }

  .we-social-content {
    padding-bottom: 0;
    column-gap: 20px;
  }

  .fold .background {
    transform: translateY(-400px);
  }
}

@media (max-width: 650px) {
  .are-you-up .your-opportunity .item {
    padding: 28px;
  }

  .are-you-up .your-opportunity .header {
    margin-bottom: 64px;
  }

  .dont-just-take .top {
    margin-bottom: 64px;
  }

  .some-questions .top {
    padding-bottom: 64px;
  }

  .are-you-up .if-you-like {
    margin: 200px 0;
  }

  .fold {
    border-radius: 28px;
  }

  .fold .background {
    transform: translateY(-200px);
  }
}
