.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}

.grid-item1,
.grid-item2,
.grid-item3 {
  grid-column-start: 1;
  grid-column-end: 7;
  border: 5px solid red;
}

h2 {
  text-align: left;
  margin-bottom: 50px;
  margin-top: 50px;
}

p {
  font-style: italic;
}

.container1 {
  display: grid;
  grid-template-columns: auto auto;
}
.container2 {
  display: block;
  width: max-content;
  padding: auto;
}
.container3 {
  display: grid;
  grid-template-columns: auto auto;
}
.container-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-flex {
  border: 2.5px solid black;
  margin-left: 100px;
  padding: 25px 25px;
  font-family: serif;
  font-size: 20px;
}

.textbox {
  padding-left: 50px;
  margin-left: 50px;
}
