.question {
  border-bottom: solid 1px var(--color-black);
}

.question .left {
  grid-column: span 8;
}

.question .right {
  grid-column: 12 / 12;
}

.question .content {
  grid-column: span 12;
  margin-bottom: 20px;
}

.question .header {
  cursor: pointer;
  padding: 20px 0;
}
