.question {
  border-bottom: solid 1px var(--color-black);
}

.question .left {
  grid-column: span 11;
}

.question .right {
  display: flex;
  align-items: center;
}

.question .content {
  grid-column: span 9;
  margin-bottom: 42px;
}

.question .header {
  cursor: pointer;
  padding: 42px 0;
}

.question .title:hover {
  color: var(--color-grey-light);
}
