.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-content .menu {
  display: grid;
  grid-auto-flow: column;
  column-gap: 42px;
  align-items: center;
}

.nav .toggle {
  display: none;
}

.nav .menu a:not(:last-child) {
  text-decoration: none;
}

.mobile-menu-overlay {
  z-index: 1;
  position: fixed;
  inset: 0;
}

.mobile-menu {
  padding: 72px;
  height: 100%;
}

.mobile-menu .brand {
  margin-bottom: 32px;
  display: flex;
  justify-content: space-between;
}

.mobile-menu .nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

@media (max-width: 1200px) {
  .nav-content .menu {
    column-gap: 20px;
  }
}

@media (max-width: 1000px) {
  .nav .menu {
    display: none;
  }

  .nav .toggle {
    display: block;
    position: relative;
    height: 30px;
    width: 42px;
    background-color: transparent;
    border: 0;
  }

  .nav .toggle::after,
  .nav .toggle::before {
    content: "";
    height: 3px;
    background-color: var(--color-grey);
    position: absolute;
    left: 0;
    border-radius: 3px;
  }

  .nav .toggle::after {
    width: 42px;
    top: 8px;
  }

  .nav .toggle::before {
    width: 30px;
    bottom: 8px;
  }

  .nav .close {
    cursor: pointer;
    background-color: transparent;
    color: inherit;
    border: 0;
    height: 40px;
    width: 40px;
    transform: translateY(-10px);
  }

  .nav .close::after,
  .nav .close::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 3px;
    background-color: white;
    border-radius: 3px;
  }

  .nav .close::after {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .nav .close::before {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  .nav .toggle {
    cursor: pointer;
  }

  .nav .menu-item a {
    text-decoration: none;
  }

  .nav .button {
    border-color: var(--color-white);
    width: 100%;
  }
}

@media (max-width: 650px) {
  .nav .brand img {
    max-width: 156px;
  }

  .mobile-menu {
    padding: 42px;
  }
}
