.testimonials {
  border-radius: 28px;
  padding: 112px 0;
  position: relative;
  overflow: hidden;
}

.testimonials .background {
  top: 0;
  position: absolute;
  left: 0;
  width: 100%;
  min-width: 850px;
  height: 100%;
  background-image: url(../images/TestimonialsBackground.png);
  mix-blend-mode: color-burn;
  background-repeat: no-repeat;
  background-size: 90%;
  background-position-y: 30%;
  background-position-x: -165px;
  opacity: 0.9;
}

.testimonials .content {
  grid-column: 5 / 12;
}

.testimonials .text {
  margin-bottom: 42px;
}

.testimonials .author {
  margin-bottom: 72px;
}

.testimonials .buttons {
  display: inline-flex;
}

.testimonials .buttons > * {
  cursor: pointer;
}

.testimonials .buttons > *:first-child {
  margin-right: 40px;
}

@media (max-width: 1024px) {
  .testimonials .content {
    padding: 0 28px;
  }

  .testimonials .background {
    display: none;
  }

  .testimonials .columns {
    display: flex;
  }

  .testimonials .author {
    margin-bottom: 42px;
  }
}
