/* Fonts */

@font-face {
  font-family: "Colfax";
  src: url("fonts/Colfax-Regular.otf");
}

@font-face {
  font-family: "Acta";
  src: url("fonts/Acta-Book.otf");
}

/* Variables */

:root {
  --color-black: #1a1a1a;
  --color-grey: #403f4c;
  --color-white: #fff;
  --color-blue: #045cfc;
  --color-blue-dark: #2421ab;
  --color-blue-light: #e8f4ff;
  --color-purple: #9563ff;
  --color-coral: #ff7b9b;
  --grid-gap: 28px;
  --max-width-desktop: 1152px;
  --max-width-tablet: 800px;
  --font-primary: Colfax, sans-serif;
  --font-secondary: Acta, serif;
}

/* Reset */

* {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: normal;
  box-sizing: border-box;
}

/* Global */

body {
  font-family: var(--font-primary);
  padding: 16px;
}

.container {
  margin: 0 auto;
  max-width: calc(var(--max-width-desktop) + 56px * 2);
  padding: 0 56px;
}

.columns {
  display: grid;
  grid-column-gap: var(--grid-gap);
  grid-template-columns: repeat(12, [col] 1fr);
}

.is-hidden {
  display: none;
}

.has-text-white {
  color: var(--color-white) !important;
}

.has-text-grey {
  color: var(--color-grey) !important;
}

.has-text-black {
  color: var(--color-black) !important;
}

.has-text-blue {
  color: var(--color-blue);
}

.has-text-bold {
  font-weight: bold;
}

.has-background-blue {
  background-color: var(--color-blue);
}

.has-background-blue-dark {
  background-color: var(--color-blue-dark);
}

.has-background-blue-light {
  background-color: var(--color-blue-light);
}

.has-background-purple {
  background-color: var(--color-purple);
}

.has-font-family-secondary {
  font-family: var(--font-secondary);
}

.has-font-size-xlarge {
  font-size: 84px;
  line-height: 92px;
}

.has-font-size-large {
  font-size: 56px;
  line-height: 64px;
}

.has-font-size-medium {
  font-size: 28px;
  line-height: 40px;
}

.has-font-size-small {
  font-size: 20px;
  line-height: 28px;
}

.button {
  color: var(--color-blue);
  border-radius: 180px;
  border: solid 1px var(--color-blue);
  padding: 28px 64px;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.button:hover {
  background-color: var(--color-blue);
  color: var(--color-white);
}

.button.is-small {
  padding: 14px 28px;
}

.Position-background {
  /* background-color: var(--color-blue); */
  position: relative;
  overflow: hidden;
}

.image {
  max-width: 100%;
}

@media (max-width: 650px) {
  .has-font-size-xlarge {
    font-size: 56px;
    line-height: 64px;
  }

  .container {
    padding: 0 20px;
  }

  .has-font-size-large {
    font-size: 28px;
    line-height: 40px;
  }

  .has-font-size-medium {
    font-size: 20px;
    line-height: 28px;
  }

  .has-font-size-small {
    font-size: 16px;
    line-height: 22px;
  }
}

.without-padding {
  padding: 0;
}
